.sort__container{
    margin-top:80px;
    height:fit-content;
    margin-left:auto;
    margin-right:auto;
    width:80%;

}

.sort__header{
    border:1px solid gray;
    height:45px;
    margin:5px;
    display: flex;
    background-color: #f2f2f2;
    position:relative;
}

.sort__body{
    margin:5px;
    display: flex;
    height:fit-content;
}

.sort__chart_container{
    width:67%;
    margin-right:5px;
    border:1px solid #24306E;
}

.sort__algorithm_code{
    width:33%;
    border:1px solid #24306E;
}


.subheader__container{
    display: flex;
    position:absolute;
    left:0;
    right:0;
    height:45px;
    background-color: #f2f2f2;
}

.subheader__algorithm_wrapper{
    width:fit-content;
    margin-top: 5px;
    margin-bottom:5px;
    margin-left:40px;
    padding:5px;
}

.subheader__text{
    color:#24305E;
    font-weight:600;
    margin-right:10px;
    font-size:16px;
}

.subheader__select_option{
    width:150px;
    height:23px;
    background-color: white;
    color:#24305E;
    border-radius:5px;
    border:2px solid #24305E;
    font-size:14px;
}


.subheader__slide_container{
    width:240px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:20px;
    padding:5px;
    display: flex;
}
.slider {
    border:1px solid #24305E;
    -webkit-appearance: none;
    width: 90%;
    height: 7px;
    border-radius: 5px;  
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider_wrapper{
    display: flex;
    width:100%;
}
.slider_input{
    width:95%;
    margin-top:0px;
}

.slider-range-wrapper{
    width:10%;
}
.slider_range{
    width:25px;
    border:1px solid #24305E;
    color:#24305E;
    border-radius: 3px;
    height:20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background:#24306E;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
}

.slider::-webkit-slider-thumb:hover{
    background-color: #374785;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #24305E;
    cursor: pointer;
}

.subheader__speed_container{
    display: flex;
    margin-top:5px;
    margin-bottom:5px;
    padding:5px;
    margin-left:20px;
}

.speed_display{
    width:23px;
    height:23px;
    border:1px solid #24305E;
    border-radius: 3px;
    margin-left:5px;
    margin-right:5px;
    text-align: center;
}

.speed_btn{
    height:24px;
    width:24px;
    border-radius: 50%;
    border:1px solid #24305E;
    font-size:16px;
    font-weight: 600;
    background-color: white;
    color:#24305E;
    cursor: pointer;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.speed_btn:hover{
    background-color: #374785;
    color:white;
}

.subheader__btn_container{
    margin-top:5px;
    margin-bottom:5px;
    position: absolute;
    right:20px; 
}

.subheader__sort_btn{
    border:0;
    color:#24305E;
    background-color: #F8E9A1;
    border-radius:5px;
    font-size:16px;
    font-weight: 600;
    height:30px;
    width:70px;
    margin-top:3px;
    transition: background-color 0.5s ease-out, color 0.5s ease-out; 
}
.subheader__sort_btn:hover{
    background-color: #374785;
    color:#F8E9A1;
    cursor:pointer;
}
